footer {
  background-color: black;
  width: 100%;
  height: 170px;
  color: white;
  padding-bottom: 290px;
  padding-top: 5px;
}

.footer{
  display: flex;
  padding-top: 0px;
}

footer p{
  padding-left: 50px;
  padding-top: 0px;

}

footer img{
  padding-left: 90px;
}

.footer2{
  display: flex;
  padding-left: 100px;
  padding-bottom: 0px;
}

.footer3{
  padding-top: 10px;
  padding-left: 200px;
}
  html {
    min-height: 100%;
    position: relative;
  }
  
  body {
    margin: 0;
    margin-bottom: 40px;
  }

  h2{
    text-align: center;
  }

  .parrafo1{
    padding-left: 30px;
    text-align: justify;
    padding-right: 100px;
    padding-top: 60px;
  }

  h3{
    padding-left: 50px;
  }

  .parrafo2{
    padding-left: 30px;
  }

  .uno{
    display: flex;
    padding-right: 30px;
  }

  .cuerpo{
    padding-left: 30px;
  }

  .h41{
    padding-left: 30px;
  }

  .dos{
    padding-left: 30px;
  }

  .lista{
    padding-left: 30px;
  }

  .cita{
    text-align: end;
    padding-right: 50px;
  }